<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlienAbductionDevLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlienAbductionDevLauncher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlienAbductionDevLauncher.Properties.Settings>
            <setting name="UnrealEnginePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerMode" serializeAs="String">
                <value>0</value>
            </setting>
        </AlienAbductionDevLauncher.Properties.Settings>
        <AlienAbductionDevLauncher.Settings>
            <setting name="UnrealEnginePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartInVR" serializeAs="String">
                <value />
            </setting>
        </AlienAbductionDevLauncher.Settings>
    </userSettings>
</configuration>